// RUN TIMER APP
// START RUN PAGE STYLING


// TYPOGRAPHY
.page-title {
	h1 {
		font-size: 2em;
		font-weight: 400;
		text-align: center;
		color: #333333;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
}

#start-run {
	label {
		font-weight: 300;
		font-size: 1em;
		line-height: 1.0;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: #17301c;
		display: block;
		margin-bottom: 4px;
	}
	input[type="text"] {
		height: auto;
		width: 100%;
		display: block;
		margin-bottom: 20px;
		padding: 1%;
		border: 1px solid #086375;
		font-size: 0.80em;
		color: #999999;
		box-sizing: border-box;
	}
	textarea {
		height: 70px;
		width: 100%;
		display: block;
		padding: 1%;
		margin-bottom: 20px;
		border: 1px solid #086375;
		font-size: 0.80em;
		color: #999999;
		box-sizing: border-box;
	}

	.start-button{
		display: block;
		text-align: center;
	}

	input[type="submit"]{
		font-size: 2em;
    	height: 60px;
    	background: #009572;
    	border: none;
    	width: 30%;
    	border-radius: 30px;
    	color: #FFF;
	}
}