@import "start";

@import "distance";

body{
	margin:0;
	padding:0;
	width:auto;
	background: aliceblue;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

img {
	display: block;
}

header {
	height: 60px;
	width: 100%;
	background: #009572;
    background: -webkit-linear-gradient(#009572, #086375);
    background: -o-linear-gradient(#009572, #086375);
    background: -moz-linear-gradient(#009572, #086375);
    background: linear-gradient(#009572, #086375);
    border-bottom: 4px solid #eca400;
    margin-bottom: 40px;

    img {
    	height: auto;
    	width: 40%;
    	margin: 0% auto;
    	position: relative;
    	top: 50%;
    	transform: translateY(-50%);
    }
}
.content-wrapper {
	height: auto;
	width: 90%;
	margin: 0% auto;
}

footer {
	height: auto;
	width: 100%;
	display: block;
	padding: 2%;
	box-sizing: border-box;
	background-color: #d8dbe2;
	border-top: 2px solid #eca400;
	position: absolute;
	bottom: 0%;

	.footer-link {
		height: auto;
		width: 32%;
		// margin: 2% 0%;
		display: inline-block;

		img {
			height: 20px;
			width: auto;
			margin: 0% auto;
			margin-bottom: 2px;
			vertical-align: middle;
		}
		a {
			color: #333333;
			text-decoration: none;
		}
		h3 {
			font-size: 0.80em;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 0%;
		}
	}
}