<!-- <div class="footer">
    <button class="dash">Dashboard</button>
    <button class="runs">Runs</button>
    <button class="bio">Bio</button>
</div> -->

<footer>
    <ul class="navigation footer">
        <li class="home dash">
            <img src="img/runtimer-home_26x20@3x.png">
            <p>HOME</p>
        </li>
        <li class="runs">
            <img src="img/runtimer-run_26x12@3x.png">
            <p>RUNS</p>
        </li>
        <li class="data bio">
            <img src="img/runtimer-data_26x20@3x.png">
            <p>DATA</p>
        </li>
    </ul>
</footer>