/* CLEARFIX */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

.clear {
  clear: both; }

.page-title h1 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 40px; }

#start-run label {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #17301c;
  display: block;
  margin-bottom: 4px; }
#start-run input[type="text"] {
  height: auto;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 1%;
  border: 1px solid #086375;
  font-size: 0.80em;
  color: #999999;
  box-sizing: border-box; }
#start-run textarea {
  height: 70px;
  width: 100%;
  display: block;
  padding: 1%;
  margin-bottom: 20px;
  border: 1px solid #086375;
  font-size: 0.80em;
  color: #999999;
  box-sizing: border-box; }

.current_run {
  display: block;
  width: 100%;
  height: 150px; }

.run_selector ul {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center; }

.calories, .distances {
  display: block;
  float: left;
  font-size: 1.3em;
  width: 49%;
  border: solid 1px #086375; }
  .calories a, .distances a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px; }

.calories {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 0;
  padding-right: 0; }

.distances {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 0;
  padding-left: 0; }

.run_list ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .run_list ul li {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 20px 0; }
    .run_list ul li:nth-child(even) {
      background: #037252; }
  .run_list ul .run_date {
    float: left; }
  .run_list ul .miles_bar {
    width: 200px;
    background: #ECA400;
    display: block;
    height: 100%;
    float: left;
    margin-left: 10px;
    padding-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .run_list ul .miles {
    float: right; }

body {
  margin: 0;
  padding: 0;
  width: auto;
  background: aliceblue;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

img {
  display: block; }

header {
  height: 60px;
  width: 100%;
  background: #009572;
  background: -webkit-linear-gradient(#009572, #086375);
  background: -o-linear-gradient(#009572, #086375);
  background: -moz-linear-gradient(#009572, #086375);
  background: linear-gradient(#009572, #086375);
  border-bottom: 4px solid #eca400;
  margin-bottom: 40px; }
  header img {
    height: auto;
    width: 40%;
    margin: 0% auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.content-wrapper {
  height: auto;
  width: 90%;
  margin: 0% auto; }

/* Current Run Overlay */
.current_run {
  display: block;
  margin: 30px 0;
  width: 100%;
  background: #037252; }
  .current_run h1 {
    text-align: center;
    margin: 0;
    color: #ECA400;
    padding: 5px 0; }

.timer {
  display: block;
  padding: 20px;
  text-align: center;
  background: aliceblue;
  width: 40%;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 1.4em;
  font-weight: 600; }

.run_buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }

.pause, .stop {
  display: inline-block;
  margin: 8px;
  border: 1px solid;
  background: #086375;
  font-size: 1.3em;
  width: 30%; }
  .pause a, .stop a {
    text-decoration: none;
    color: #08DBE2;
    padding: 6px 10px;
    display: block; }

footer {
  height: auto;
  width: 100%;
  display: block;
  padding: 2%;
  box-sizing: border-box;
  background-color: #d8dbe2;
  border-top: 2px solid #eca400;
  position: absolute;
  bottom: 0%; }
  footer .footer-link {
    height: auto;
    width: 32%;
    display: inline-block; }
    footer .footer-link img {
      height: 20px;
      width: auto;
      margin: 0% auto;
      margin-bottom: 2px;
      vertical-align: middle; }
    footer .footer-link a {
      color: #333333;
      text-decoration: none; }
    footer .footer-link h3 {
      font-size: 0.80em;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0%; }

/*# sourceMappingURL=style.css.map */
