<!-- <label for="bioName">Name:</label>
<input type="text" id="bioName" class="bio-input-header" placeholder="name" value="<%= name %>"/>

<label for="bioAge">Age:</label>
<input type="text" id="bioAge" class="bio-input-header" placeholder="yrs" value="<%= age %> " />

<label for="bioWeight">Weight:</label>
<input type="text" id="bioWeight" class="bio-input-header" placeholder="lbs" value="<%= weight %> " />

<button class="bio-save">Save Changes</button> -->

<!-- CONTENT WRAPPER -->
<main id="run_app" class="content-wrapper">
    <section>
        <form class="edit_run">
            <label for="name">Name:</label>
            <input name="name" id="bioName" class="bio-input-header" type="text" value="<%= JSON.parse(localStorage.bio).name %>"/>

            <label for="age">Age:</label>
            <input name="age" id="bioAge" class="bio-input-header" type="text" placeholder="Yrs" value="<%= JSON.parse(localStorage.bio).age %>"/>

            <label for="weight">Weight:</label>
            <input name="weight" id="bioWeight" class="bio-input-header" type="text" placeholder="lbs" value="<%= JSON.parse(localStorage.bio).weight%>"/>

            <input type="submit" class="edit_submit bio-save" value="Save Changes">
        </form>
    </section>

</main> <!-- END CONTENT-WRAPPER -->