<!-- <div>hours:<span class='hours'></span></div>
<div>minutes:<span class='minutes'></span></div>
<div>seconds:<span class='seconds'></span></div>

<button class='stop-button'></button>
<button class='pause-button'></button> -->

<section class="current_run">
            
    <h1>Current Run</h1>
    <div class="timer">00:14:30</div>
        <div>hours:<span class='hours'></span></div>
        <div>minutes:<span class='minutes'></span></div>
        <div>seconds:<span class='seconds'></span></div>
    </div>
    <ul class="run_buttons">
        <li class="pause pause-button">PAUSE</li>
        <li class="stop stop-button">STOP</li>
    </ul>
 
</section>
